---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Form from '../components/Form.astro';
import Footer from '../components/Footer.astro';

---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title="Kontakt - Freelancer Stuttgart" description="kontaktformular" />
	</head>
	<body>
		<Header />

		</main>

			
		<Form/>
			
		

		</main>
		<Footer />
	</body>
</html>



